aiofiles==0.6.0
attrs==20.3.0
bottle==0.12.19
cachetools==4.2.0
certifi==2020.12.5
chardet==4.0.0
decorator==4.4.2
frozendict==1.2
h11==0.9.0
httpcore==0.11.1
httptools==0.1.1
httpx==0.15.4
idna==2.10
iiif-presentation-validator==0.0.3
iiif-prezi==0.3.0
jsonpath-rw==1.4.0
jsonschema==3.2.0
lxml==4.6.2
multidict==5.1.0
Pillow==8.1.0
ply==3.11
PyLD==2.0.3
pyrsistent==0.17.3
requests==2.25.1
rfc3986==1.4.0
sanic==20.12.1
Sanic-Cors==0.10.0.post3
Sanic-Plugins-Framework==0.9.5
six==1.15.0
sniffio==1.2.0
ujson==4.0.2
urllib3==1.26.2
uvloop==0.14.0
websockets==8.1
