name: publish

on:
  push:
    branches:
      - main
  # This triggers for any tag or branch creation. We'll filter for tags in the job.
  create:
  release:
    types: [released]
jobs:
  # publish only for main and tags
  publish:
    name: Publish to Dockerhub
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/main' || (github.event_name == 'create' && startsWith(github.ref, 'refs/tags/'))
    outputs:
      tag: ${{ steps.output_docker_image_tag.outputs.tag }}
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: extractions/setup-just@v2
      - uses: docker/setup-buildx-action@v3
      - name: Output docker image tag
        id: output_docker_image_tag
        run: echo "tag=$(just docker-image-tag | tr -d '\n')" >> "$GITHUB_OUTPUT"
        shell: bash # Explicit for fail-fast behaviour
      - name: build and publish image to Dockerhub
        run: |
          echo ${{ secrets.DOCKER_HUB_TOKEN }} | docker login -u ${{ secrets.DOCKER_USER }} --password-stdin
          just docker-publish-intel

  trigger-stage-deployment:
    name: Trigger deployment to STAGE
    runs-on: ubuntu-latest
    needs: publish
    if: github.ref == 'refs/heads/main'
    steps:
      - name: Trigger deployment to STAGE
        env:
          IMAGE_TAG: ${{ needs.publish.outputs.tag }}
          JENKINS_BASIC_AUTH_USER: ${{ secrets.JENKINS_BASIC_AUTH_USER }}
          JENKINS_BASIC_AUTH_PASS: ${{ secrets.JENKINS_BASIC_AUTH_PASS }}
          JENKINS_UPDATE_RELEASE_WEBHOOK: ${{ secrets.JENKINS_UPDATE_STAGE_RELEASE_WEBHOOK }}
        run: |
          curl -f -u "${JENKINS_BASIC_AUTH_USER}:${JENKINS_BASIC_AUTH_PASS}" \
               -X POST "${JENKINS_UPDATE_RELEASE_WEBHOOK}" \
               -d "Service=ark&Version=${IMAGE_TAG}"

  trigger-prod-deployment:
    name: Trigger deployment to PROD
    runs-on: ubuntu-latest
    needs: publish
    if: github.event_name == 'release' && startsWith(github.ref, 'refs/tags')
    steps:
      - name: Trigger deployment to PROD
        env:
          IMAGE_TAG: ${{ needs.publish_manifest.outputs.tag }}
          JENKINS_BASIC_AUTH_USER: ${{ secrets.JENKINS_BASIC_AUTH_USER }}
          JENKINS_BASIC_AUTH_PASS: ${{ secrets.JENKINS_BASIC_AUTH_PASS }}
          JENKINS_UPDATE_RELEASE_WEBHOOK: ${{ secrets.JENKINS_UPDATE_PROD_RELEASE_WEBHOOK }}
        run: |
          curl -f -u "${JENKINS_BASIC_AUTH_USER}:${JENKINS_BASIC_AUTH_PASS}" \
               -X POST "${JENKINS_UPDATE_RELEASE_WEBHOOK}" \
               -d "Service=ark&Version=${IMAGE_TAG}"

  release-please:
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/main'
    steps:
      - uses: googleapis/release-please-action@v4
        with:
          token: ${{ secrets.DASCHBOT_PAT }}
          config-file: .github/release-please/config.json
          manifest-file: .github/release-please/manifest.json
